<div class="app-header-wrapper">
  <div class="app-header">
    <h4>
      Social Activity App
    </h4>
  </div>
</div>
<div class="topics">

</div>
<div class="mat-elevation-z8 data-table">
  <mat-table class="full-width-table" [dataSource]="socialActivityDataDource" matSort aria-label="Elements">

    <!-- Source Column -->
    <ng-container matColumnDef="source">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Source</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.source}}</mat-cell>
    </ng-container>

    <!-- Content Column -->
    <ng-container matColumnDef="content">
      <mat-header-cell *matHeaderCellDef mat-sort-header md-truncate>Content</mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{row.content}}
        
      </mat-cell>
      <mat-cell>
      <table class="actions-table">
          <tr *ngFor="let activity of displayedColumns">
              <td>
                  {{activity}}
              </td>
          </tr>
        </table>
      </mat-cell>
    </ng-container>

    <!-- Comment Column -->
    <ng-container matColumnDef="comment">
      <mat-header-cell *matHeaderCellDef mat-sort-header md-truncate>comment</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <table class="actions-table">
          <tr>
            <th>
              {{row.content}}
            </th>
          </tr>
          <tr *ngFor="let activity of row.comments">
              <td>
                comment conent: {{activity.message}}
              </td>
          </tr>
        </table>

      </mat-cell>
      
    </ng-container>

    <!-- Content Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <table class="actions-table">
          <tr>
            <td>
              <mat-button-toggle (click)="onLikeClick(row)">Like</mat-button-toggle>
            </td>
            <td>
              <mat-button-toggle (click)="openDialog(row)">Comment</mat-button-toggle>
            </td>
            <td>
              <mat-button-toggle>Share</mat-button-toggle>
            </td>
          </tr>
        </table>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [pageIndex]="0" [pageSize]="50" [pageSizeOptions]="[50,100,200]">
  </mat-paginator>
</div>
